/*START PORTFOLIO*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container__general {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container__portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.container__imgPortfolio {
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	cursor: pointer;
}
.portfolioImg {
	width: 100%;
}
.portfolioImg:hover {
	opacity: 0.6;
}
.info__imgPortfolio {
	margin-top: 8px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.link__portfolio {
	margin-right: 4px;
}

/* MEDIA QUERIES IPAD*/
@media all and (min-device-width: 768px) {
	.container__general {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 20px;
		justify-content: center;
	}
	.container__portfolio {
		margin: 20px;
	}
	.textPortfolio {
		font-size: 10px;
	}
	.portfolioImg {
		height: 157px;
		width: auto;
	}
}
@media all and (min-width: 1024px) {
	.link__portfolio {
		margin-right: 4px;
		width: 32px;
		height: auto;
		cursor: pointer;
	}
	.container__imgPortfolio {
		margin-right: 60px;
	}
	.portfolioImg {
		height: 187px;
		width: auto;
	}
	.textPortfolio {
		font-size: 13px;
	}
}
