/*START PORTFOLIO*/
.container__portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container__titlePortfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container__imgPortfolio {
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	cursor: pointer;
}
.portfolioImg {
	width: 100%;
}
.portfolioImg:hover {
	opacity: 0.6;
}
.info__imgPortfolio {
	margin-top: 8px;
	display: flex;
	flex-direction: row-reverse;
}
.link__portfolio {
	margin-right: 4px;
}

/* MEDIA QUERIES IPAD*/
@media all and (min-device-width: 768px) {
	.container__portfolio {
		display: flex;
		flex-direction: row;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 20px;
		justify-content: center;
	}
	.textPortfolio {
		font-size: 10px;
	}
	.portfolioImg {
		width: 92%;
	}
}
