.container__bars {
	padding: 50px;
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.container__titleSkills {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.containerStyles {
	height: 20;
	background-color: rgb(233, 233, 233);
	border-radius: 50;
	margin: 50;
}
.fillerStyles {
	height: 20px;
	width: 250px;
	background-color: rgba(66, 141, 17, 0.89);
	border-radius: inherit;
	text-align: right;
	transition: 'width 1s ease-in-out';
}
.labelStyles {
	padding: 5px;
	color: white;
	font-weight: bold;
	margin-right: 5px;
}
#css_bar {
	background-color: rgba(245, 191, 13, 0.89);
}
#js_bar {
	background-color: rgba(250, 0, 117, 0.89);
}
#react_bar {
	background-color: rgba(70, 31, 248, 0.89);
}
/* END SKILLS*/
