* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header {
	position: relative;
	height: 620px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: center;
	align-items: center;
	margin-top: -100px;
	/* background-image: url("../../img/Fearless.jpg");*/
	background-size: cover;
	background-color: black;
	align-items: center;
	padding: 50px;
}
.css-typing {
	background-color: black;
	height: 180px;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 18px;
}
.css-typing p {
	border-right: .15em solid orange;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	white-space: nowrap; /* The white-space property specifies how white-space inside an element is handled */
	overflow: hidden;
	color: white;
}
.css-typing p:nth-child(1) {
	width: 7.3em;
	-webkit-animation: type 2s steps(40, end);
	animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
	width: 11.5em;
	opacity: 0;
	-webkit-animation: type2 2s steps(40, end);
	animation: type2 2s steps(40, end), blink .5s step-end infinite alternate;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
	width: 13.3em;
	opacity: 0;
	/* -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate; */
	animation: type2 2s steps(20, end), blink .5s step-end infinite alternate;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	color: white;
	z-index: 200;
}

@keyframes type {
	0% {
		width: 0;
	}
	99.9% {
		border-right: .15em solid orange;
	}
	100% {
		border: none;
	}
}

@keyframes type2 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	99.9% {
		border-right: .15em solid orange;
	}
	100% {
		opacity: 1;
		border: none;
	}
}

@keyframes type3 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
@-webkit-keyframes blink {
	50% {
		border-color: tranparent;
	}
}

/* .header-text-animation {
	display: flex;
	flex-direction: column;
	font-weight: bolder;
	z-index: 1;
	width: 53vw;
	height: 65px;
	align-items: center;
	background-color: #fffefe66;
	justify-content: center;
	border: 2px solid #fffffff2;
	margin-top: 163px;
}

.text-animated {
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	z-index: 1;
	color: black;
}
.container__btn {
	z-index: 999;
}
button {
	border-radius: 54%;
	padding: 4px;
	border: none;
	display: flex;
	background-color: transparent;
	cursor: pointer;
} */
