* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-navBar {
	background-color: rgb(255, 255, 255);
	width: 100vw;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 999;
}

.navBar__list {
	display: flex;
	list-style: none;
}
.navBar__list > li {
	/*margin-right: 10px;mediqueries pc*/
	margin-right: 15px;
}
.selected {
	color: #ce847d;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
}
