.container__footer {
	width: 100vw;
	background-color: black;
	margin-top: 50px;
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
#btn__up {
	cursor: pointer;
}
#footer__title {
	color: white;
}
.container_link__footer,
.container__small {
	display: flex;
}
.link__footer {
	height: 31px;
	width: auto;
	margin-right: 30px;
}
.container__small {
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.small {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 1.8;
	text-align: justify;
}
.link__small {
	height: 17px;
	width: auto;
}
