/*START EXPERIENCE*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container__experience {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	background-color: oldlace;
	padding-top: 42px;
	padding-bottom: 50px;
	align-items: center;
}
.container__experienceTitle {
	display: flex;
	align-self: center;
}
.container__experienceDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 20px;
}
.title__detailsCompany {
	cursor: pointer;
	font-size: 10px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 1.8;
	text-align: justify;
}

.container__experienceInfo {
	display: flex;
	flex-direction: column;
	padding: 50px;
}
.experience__list {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.btn__experience,
.btn__aboutMe {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 33px;
}
.email {
	cursor: pointer;
	text-transform: lowercase;
	font-size: 14px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 1.8;
	text-align: justify;
}
/* MEDIA QUERIES IPAD EXPERIENCE*/
@media all and (min-device-width: 768px) {
	.container__experience {
		padding: 50px 80px;
	}
}
