* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
}

/* START NAVBAR*/
.container-navBar {
	background-color: #ffffff78;
	width: 100vw;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

ul {
	display: flex;
	list-style: none;
}
ul > li {
	/*margin-right: 10px;mediqueries pc*/
	margin-right: 15px;
}
.selected {
	color: #ce847d;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
}
/* END NAVBAR*/
/*START HEADER*/
.header {
	position: relative;
	height: 812px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: center;
	align-items: center;
	margin-bottom: 70px;
	margin-top: -39px;
}
.header > video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0.8;
}
.header-text-animation {
	display: flex;
	flex-direction: column;
	font-weight: bolder;
	z-index: 1;
	position: absolute;
	width: 53vw;
	height: 65px;
	align-items: center;
	background-color: #fffefe00;
	justify-content: center;
	border: 2px solid #fffffff2;
	margin-top: 228px;
}

.text-animated {
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	z-index: 1;
	color: white;
}
/*END HEADER*/
/*ABOUT ME*/
.container__personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding: 50px;
}
.aboutMe__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.title {
	text-transform: uppercase;
	font-size: 12px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
}
.text {
	cursor: pointer;
	font-size: 12px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 2.6;
	text-align: justify;
}
.container__photo {
	display: flex;
	flex-direction: column;
	margin-top: 52px;
}
.photo__aboutMe {
	width: 238px;
}
