* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
}
html {
	scroll-behavior: smooth;
}

.container__skills {
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
