* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

.App {
	text-align: center;
}

/* START NAVBAR*/
.container-navBar {
	background-color: #ffffff78;
	width: 100vw;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	z-index: 1;
}

.navBar__list {
	display: flex;
	list-style: none;
}
.navBar__list > li {
	/*margin-right: 10px;mediqueries pc*/
	margin-right: 15px;
}
.selected {
	color: #ce847d;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
}
/* END NAVBAR*/
/*START HEADER*/
.header {
	position: relative;
	height: 812px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: center;
	align-items: center;
	margin-bottom: 70px;
	margin-top: -39px;
}
.header > video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0.8;
}
.header-text-animation {
	display: flex;
	flex-direction: column;
	font-weight: bolder;
	z-index: 1;
	position: absolute;
	width: 53vw;
	height: 65px;
	align-items: center;
	background-color: #fffefe00;
	justify-content: center;
	border: 2px solid #fffffff2;
	margin-top: 228px;
}

.text-animated {
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	z-index: 1;
	color: white;
}
.container__btn {
	z-index: 999;
	margin-top: -87px;
}
button {
	border-radius: 54%;
	padding: 4px;
	border: none;
	display: flex;
	background-color: transparent;
	cursor: pointer;
}
/*END HEADER*/
/* START ABOUT ME*/
.container__personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding: 50px;
}
.aboutMe__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.title {
	text-transform: uppercase;
	font-size: 18px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	margin-bottom: 20px;
}
.text {
	font-size: 14px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 1.8;
	text-align: justify;
}
.container__photo {
	display: flex;
	flex-direction: column;
	margin-top: 52px;
}
.photo__aboutMe {
	width: 238px;
}
/*END ABOUT ME*/
/*START EXPERIENCE*/
.container__experience {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	background-color: oldlace;
	padding-top: 42px;
	padding-bottom: 50px;
}
.container__experienceTitle {
	display: flex;
	align-self: center;
}
.container__experienceDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 20px;
}
.title__detailsCompany {
	cursor: pointer;
	font-size: 10px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 1.8;
	text-align: justify;
}

.container__experienceInfo {
	display: flex;
	flex-direction: column;
	padding: 50px;
}
.experience__list {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.btn__experience,
.btn__aboutMe {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 33px;
}
.email {
	cursor: pointer;
	text-transform: lowercase;
	font-size: 14px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 1.8;
	text-align: justify;
}
/* END EXPERIENCE*/

/* START SKILLS*/

.container__bars {
	padding: 50px;
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.container__titleSkills {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.containerStyles {
	height: 20;
	background-color: rgb(233, 233, 233);
	border-radius: 50;
	margin: 50;
}
.fillerStyles {
	height: 20px;
	width: 250px;
	background-color: rgba(66, 141, 17, 0.89);
	border-radius: inherit;
	text-align: right;
	transition: 'width 1s ease-in-out';
}
.labelStyles {
	padding: 5px;
	color: white;
	font-weight: bold;
	margin-right: 5px;
}
#css_bar {
	background-color: rgba(245, 191, 13, 0.89);
}
#js_bar {
	background-color: rgba(250, 0, 117, 0.89);
}
#react_bar {
	background-color: rgba(70, 31, 248, 0.89);
}
/* END SKILLS*/
/*START PORTFOLIO*/
.container__portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container__titlePortfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container__imgPortfolio {
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	cursor: pointer;
}
.portfolioImg {
	width: 300px;
	height: auto;
}
.portfolioImg:hover {
	opacity: 0.6;
}
.info__imgPortfolio {
	margin-top: 10px;
	display: flex;
	flex-direction: row-reverse;
}
.link__portfolio {
	margin-right: 4px;
}

/* END PORTFOLIO*/
/*START FOOTER*/
.container__footer {
	width: 100vw;
	background-color: black;
	margin-top: 50px;
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}
#btn__up {
	margin-bottom: 20px;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 50%;
}
#footer__title {
	color: white;
}
.container_link__footer,
.container__small {
	display: flex;
}
.link__footer {
	height: 31px;
	width: auto;
	margin-right: 30px;
}
.container__small {
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.small {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 1.8;
	text-align: justify;
}
.link__small {
	height: 31px;
	width: auto;
}

/* END FOOTER*/
/*myCV*/
.container__curriculum {
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
}
.container__curriculumImg {
	width: 100%;
	height: 200px;
	background-image: url("./img/map.jpg");
	background-size: cover;
	margin-bottom: 30px;
}
.experience__list__cv {
	display: flex;
	flex-direction: column;
	list-style-type: square;
}
hr {
	width: 50%;
	align-self: center;
}
.link__opinion {
	text-transform: lowercase;
	cursor: pointer;
}
#feedback {
	text-transform: lowercase;
}
.star {
	height: 17px;
	margin-right: 10px;
}
.container__opinion {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
