.container__title {
	width: 100vw;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.container__personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 50px;
}

.aboutMe__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.title {
	text-transform: uppercase;
	font-size: 18px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	margin-bottom: 20px;
}
.text {
	font-size: 14px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	line-height: 1.8;
	text-align: justify;
}
.container__photo {
	display: flex;
	flex-direction: column;
	margin-top: 52px;
}
.photo__aboutMe {
	width: 238px;
}
@media all and (min-device-width: 768px) {
	.container__personalInfo {
		display: flex;
		flex-direction: row;
	}
	.personalInfo__text {
		width: 50%;
	}
	.container__photo {
		display: flex;
		margin-left: 92px;
		margin-top: 0px;
	}
	.aboutMe__contact {
		padding: 50px;
	}
}
/* @media all and (min-width: 1024px) {
	.container__personalInfo {
		
	}
} */
